article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  font-family: 'Open Sans','Helvetica', sans-serif;
  height: 100%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none; }

/*--Hacks for making design awesome--*/
.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.box {
  border: 1px solid red; }

.center {
  text-align: center; }

/*--OG GRID--*/
.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px; }

.og-grid {
  padding: 0;
  list-style: none;
  text-align: center;
  width: 100%; }
  .og-grid li {
    display: inline-block;
    vertical-align: top;
    margin-right: 22px;
    margin-bottom: 22px;
    width: 250px;
    height: 292px; }
    .og-grid li a, .og-grid li img {
      height: 158px;
      width: auto;
      outline: none;
      display: block;
      position: relative; }

.btn {
  border-radius: 0; }

/*--OG grid ends here--*/
/*Shadows Designing*/
.card {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }

.card:hover {
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

/*--Basic Section Ends here---------------------------------------------------*/
.wrapper {
  padding-top: 5%;
  padding-bottom: 5%; }

.rounded {
  border-radius: 100px; }

.menu {
  position: relative;
  background-color: #ffffff;
  z-index: 100;
  border-bottom: 2px solid #f2f2f2; }

.sticky {
  width: 73.35%;
  top: 0;
  position: fixed; }

.menu2 {
  position: relative;
  margin-top: -70px;
  background-color: #ffffff;
  padding-top: 10px;
  z-index: 100;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.sticky2 {
  top: 0;
  margin-top: 0;
  position: fixed !important; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

.navbar-brand a {
  color: #ffffff !important; }

.navbar-nav button {
  background-color: transparent;
  border: none;
  font-size: 12px;
  color: #000000 !important;
  outline: none; }

.navbar-nav button:hover {
  color: rgba(0, 0, 0, 0.4) !important; }

.navbar-nav li a {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-weight: 400;
  color: #000000 !important;
  font-size: 12px !important;
  outline: none !important; }

.navbar-nav li:hover a, .navbar-nav li:focus a {
  color: rgba(0, 0, 0, 0.4) !important;
  outline: none !important; }

.navbar-custom {
  min-height: 60px;
  background: #F8CB00 !important;
  background: -webkit-linear-gradient(#1c171c 50%, #1c171c);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1c171c 50%, #1c171c);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1c171c 50%, #1c171c);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1c171c 50%, #1c171c);
  /* Standard syntax */
  padding: 20px;
  color: #ffffff !important; }

.form-control {
  height: 20px;
  border-radius: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #ffffff; }

.navbar-custom .form-control {
  color: #000000 !important;
  transition: all 0.3s ease-in; }

.navbar-custom .form-control:active,
.navbar-custom .form-control:focus {
  background-color: #ffffff;
  color: #1c171c !important;
  border: 1px solid #ffffff; }

.navbar-custom ::-webkit-input-placeholder {
  color: #000000;
  opacity: .6 !important; }

.navbar-custom :-moz-placeholder {
  color: #000000;
  opacity: .6 !important; }

.navbar-custom ::-moz-placeholder {
  color: #000000;
  opacity: .6 !important; }

.navbar-custom :-ms-input-placeholder {
  color: #000000;
  opacity: .6 !important; }

#footer {
  border-top: 1px solid #f4f0f7;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f2f2f2;
  z-index: 9;
  font-size: 12px;
  color: #1c171c; }

a svg rect {
  stroke: #eeeeee;
  stroke-width: 4;
  fill: #eeeeee;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

a svg path {
  fill: #1c171c;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

a:hover svg rect {
  stroke-width: 50;
  stroke: #1c171c; }

a:hover svg path {
  fill: #ffffff; }

.modal-dialog {
  width: 400px; }
  .modal-dialog .form-control {
    border-radius: 0;
    border-top-color: #94618E;
    border-left-color: #94618E;
    border-right-color: #94618E;
    border-bottom-color: #94618E;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }

.c-logo {
  margin-bottom: 25px; }

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: white;
  text-align: center;
  background-color: #1c171c;
  border: 1px solid #1c171c;
  border-radius: 4px; }

.modal-open {
  overflow: hidden; }

.login_close, .signup_close {
  position: absolute;
  top: -5px;
  right: -20px;
  color: rgba(0, 0, 0, 0.5);
  padding: 2px 10px 10px;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all 0.25s ease-in;
  cursor: pointer; }

.l-main {
  height: 100%;
  width: 100%; }
  .l-main .l-login-wrapper {
    text-align: center;
    margin-top: 1%; }
    .l-main .l-login-wrapper .c-login_form {
      display: block;
      margin: 0 auto;
      float: none;
      padding: 10px 20px;
      background-color: #ffffff; }
    .l-main .l-login-wrapper .c-login_btn {
      margin-top: 20px;
      padding-right: 30px;
      padding-left: 30px; }
    .l-main .l-login-wrapper .c-login_form--create {
      padding-top: 10px;
      padding-bottom: 0; }
    .l-main .l-login-wrapper .c-login_form--create a {
      color: #26265F;
      padding: 7px; }

.form-control {
  border-radius: 1px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

.l-textfeild {
  padding: 20px 3px; }

.c-login_forgot-pass {
  margin-top: 20px; }

.c-login_forgot-pass p {
  font-size: 12px; }

.c-login_forgot-pass a {
  padding: 7px; }

input {
  text-align: center; }

.btn-custom {
  border-radius: 0; }

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 250px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1090;
  /* Stay on top */
  top: 0;
  right: -280px;
  background-color: #ffffff;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: all  0.25s;
  /* 0.5 second transition effect to slide in the sidenav */ }

.card-5, .sidenav {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.28), 0 15px 12px rgba(0, 0, 0, 0.2); }

/* The navigation menu links */
.sidenav a {
  padding: 8px 15px;
  text-decoration: none;
  display: block;
  transition: all 0.3s; }

/* When you mouse over the navigation links, change their color */
/* Position and style the close button (top right corner) */
.sidenav .btnClose {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 18px;
  margin-right: 5px;
  color: #ffffff;
  cursor: pointer; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: all .25s; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav a {
    font-size: 18px; } }

.side-nav-wrapper {
  padding: 20px;
  background-color: #6364D8;
  color: #f2f2f2; }
  .side-nav-wrapper .side-nav-content {
    padding: 10px; }
    .side-nav-wrapper .side-nav-content .side-nav-rangeSlider {
      margin-top: 5px;
      margin-bottom: 20px; }
  .side-nav-wrapper input {
    padding: 10px; }
  .side-nav-wrapper p {
    font-size: 12px;
    text-align: center; }

.side-chatNav-wrapper {
  padding: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  color: #f2f2f2;
  background-color: #6364D8; }
  .side-chatNav-wrapper .side-nav-content {
    border: 1px solid rgba(242, 242, 242, 0.5);
    padding: 5px; }
    .side-chatNav-wrapper .side-nav-content .side-nav-rangeSlider {
      margin-top: 5px; }
  .side-chatNav-wrapper input {
    padding: 10px; }
  .side-chatNav-wrapper p {
    font-size: 12px;
    background-color: #000000;
    padding: 5px;
    padding-left: 10px; }

.chat-day {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100 !important;
  text-align: left !important; }
  .chat-day p {
    font-size: 12px;
    color: #000000;
    padding: 15px; }

.chat-navs {
  background-color: #6364D8 !important; }
  .chat-navs ul .active {
    border-bottom: 1px solid #ffffff; }
  .chat-navs ul li {
    display: inline-block;
    color: #ffffff !important; }
    .chat-navs ul li a {
      font-size: 14px;
      color: #ffffff !important; }

/*.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/
input[type=range] {
  -webkit-appearance: none;
  background: none; }

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px; }

input[type=range]::-ms-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px; }

input[type=range]::-moz-range-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative; }

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative; }

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative; }

input[type=range]:focus {
  outline: none; }
  input[type=range]:focus::-webkit-slider-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555; }
  input[type=range]:focus::-ms-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555; }
  input[type=range]:focus::-moz-range-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc; }

input[type=range]:focus::-ms-track {
  background: #ccc; }

input[type=range]:focus::-moz-range-track {
  background: #ccc; }

#main {
  overflow: auto !important; }

.rounded {
  border-radius: 100px; }

.btn-transparentWhtie {
  background-color: transparent;
  border: 1px solid #ffffff;
  transition: all 0.3s ease-in; }

.btn-transparentWhtie:hover,
.btn-transparentWhtie:active,
.btn-transparentWhtie:focus,
.btn-transparentWhtie:target {
  background-color: transparent;
  color: #F8CB00;
  border: 1px solid #F8CB00; }

.btn-whtie {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #94618E;
  transition: all 0.3s ease-in; }

.btn-whtie:hover,
.btn-whtie:active,
.btn-whtie:focus,
.btn-whtie:target {
  background-color: #F8CB00;
  border: 1px solid #F8CB00;
  color: #94618E; }

.btn-purple {
  background-color: #6364D8;
  color: #f2f2f2;
  border: 1px solid #6364D8;
  transition: all 0.3s ease-in; }

.btn-purple:hover, .my-cart-number,
.btn-purple:active,
.btn-purple:focus,
.btn-purple:target {
  background-color: #4f50ac;
  color: #f2f2f2;
  border: 1px solid #4f50ac; }

.btn-golden {
  background-color: #F8CB00;
  color: #1c171c;
  border: 1px solid #FFB800;
  transition: all 0.3s ease-in; }

.btn-golden:hover,
.btn-golden:active,
.btn-golden:focus,
.btn-golden:target {
  background-color: #FFB800;
  border: 1px solid #FFB800;
  transition: all 0.3s ease-in;
  color: #1c171c; }

.btn-pagenavigator {
  background-color: #1c171c;
  color: #ffffff;
  font-size: 18px;
  border-radius: 20px;
  padding: 0 9px;
  transition: all 0.25s ease-in; }

.btn-pagenavigator:hover,
.btn-pagenavigator:active,
.btn-pagenavigator:focus {
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  outline: none; }

.dropdown-menu {
  border-radius: 0;
  opacity: 0.98;
  background-clip: border-box;
  border: none; }
  .dropdown-menu li a {
    color: #94618E !important;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    font-size: 12px !important; }
    .dropdown-menu li a:hover {
      color: #94618E !important; }

.product-category {
  background-color: #ffffff;
  font-size: 12px;
  z-index: 1020;
  width: 255px; }

.product-category ul li {
  padding-bottom: 15px;
  font-weight: 300;
  letter-spacing: 0.04em;
  padding-right: 20px;
  padding-left: 20px; }

.product-category ul li:hover {
  background-color: #f2f2f2; }

.items {
  margin-top: 25px; }

.l-product {
  max-width: 210px;
  text-align: center;
  background-color: #ffffff; }

.l-product .product-description {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-size: 12px;
  font-weight: 700;
  text-align: justify; }

.l-product .product-price {
  color: #F8CB00; }

.mid-heading {
  background-color: #ffffff;
  font-size: 12px; }

.product-category ul li h5 {
  font-size: 10px;
  font-weight: 600; }

.product-category ul li {
  color: #B0B0B0; }

.product-category ul li.active {
  color: #F8CB00 !important; }

.product-category-heading {
  font-family: 'Open Sans',sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 8px !important;
  padding-top: 8px !important;
  color: #1c171c !important;
  cursor: pointer; }
  .product-category-heading i {
    padding-right: 10px;
    color: #1c171c; }

.sub-category {
  cursor: pointer;
  font-weight: 300 !important; }
  .sub-category li {
    color: #000000 !important;
    padding-left: 40px !important;
    padding-top: 8px !important;
    padding-bottom: 5px !important; }
  .sub-category li a {
    color: #000000 !important;
    font-family: 'Open Sans',sans-serif; }

.navbar-brand {
  color: #ffffff !important; }

.mid-heading-icons i {
  color: #1c171c;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  font-size: 18px;
  cursor: pointer; }
  .mid-heading-icons i:hover {
    color: rgba(0, 0, 0, 0.4); }

.pagination-text {
  vertical-align: middle; }
