@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather+Sans:800);
html, body {
  font-family: 'Open Sans','Helvetica', sans-serif;
  height: 100%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
  outline: none !important; }

/*--Hacks for making design awesome--*/
.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.box {
  border: 1px solid red; }

.center {
  text-align: center; }

/*--OG GRID--*/
.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px; }

.og-grid {
  padding: 0;
  list-style: none;
  text-align: center;
  width: 100%; }
  .og-grid li {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 250px;
    height: 292px; }
    .og-grid li a, .og-grid li img {
      height: 158px;
      width: auto;
      outline: none;
      display: block;
      position: relative; }

.btn {
  border-radius: 0; }

button {
  outline: none !important; }

/*--OG grid ends here--*/
/*Shadows Designing*/
.border, .items ul li {
  border: 1px solid rgba(2, 82, 92, 0.1); }

.card {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }

.card:hover {
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card-1 {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.card-1:hover {
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card-2 {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.card-3, .sidenav {
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.card-4 {
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.card-5 {
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/*--Basic Section Ends here---------------------------------------------------*/
.wrapper {
  padding-top: 5%;
  padding-bottom: 5%; }

.rounded {
  border-radius: 1000px; }

.menu {
  width: 876px;
  position: relative;
  background-color: #ffffff;
  z-index: 100;
  border-bottom: 2px solid #f2f2f2; }

.sticky {
  top: 0;
  position: fixed; }

.menu2 {
  position: relative;
  margin-top: -70px;
  background-color: #ffffff;
  padding-top: 10px;
  z-index: 100;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.sticky2 {
  top: 0;
  margin-top: 0;
  position: fixed !important; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

.navbar-brand a {
  color: #ffffff; }

.navbar-nav button {
  background-color: transparent;
  border: none;
  font-size: 12px;
  color: #000000 !important;
  outline: none; }

.navbar-nav button:hover {
  color: rgba(0, 0, 0, 0.4) !important; }

.navbar-nav li a {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-weight: 400;
  color: #000000 !important;
  font-size: 12px !important;
  outline: none !important; }

.navbar-nav li:hover a, .navbar-nav li:focus a {
  color: rgba(0, 0, 0, 0.4) !important;
  outline: none !important; }

.navbar-custom {
  min-height: 60px;
  background: #F8CB00 !important;
  background: -webkit-linear-gradient(#1c171c 50%, #1c171c);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1c171c 50%, #1c171c);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1c171c 50%, #1c171c);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1c171c 50%, #1c171c);
  /* Standard syntax */
  padding: 20px;
  color: #ffffff !important; }

.navbar-custom .form-control {
  height: 20px;
  padding: 16px;
  border-radius: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #ffffff; }

.navbar-custom .form-control {
  color: #000000 !important;
  transition: all 0.3s ease-in; }

.navbar-custom .form-control:active,
.navbar-custom .form-control:focus {
  background-color: #ffffff;
  color: #1c171c !important;
  border: 1px solid #ffffff; }

.navbar-custom ::-webkit-input-placeholder {
  color: #000000;
  opacity: .6 !important; }

.navbar-custom :-moz-placeholder {
  color: #000000;
  opacity: .6 !important; }

.navbar-custom ::-moz-placeholder {
  color: #000000;
  opacity: .6 !important; }

.navbar-custom :-ms-input-placeholder {
  color: #000000;
  opacity: .6 !important; }

#footer {
  border-top: 1px solid #f4f0f7;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f2f2f2;
  z-index: 9;
  font-size: 12px;
  color: #1c171c; }

a svg rect {
  stroke: #eeeeee;
  stroke-width: 4;
  fill: #eeeeee;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

a svg path {
  fill: #1c171c;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

a:hover svg rect {
  stroke-width: 50;
  stroke: #1c171c; }

a:hover svg path {
  fill: #ffffff; }

.modal-dialog {
  width: 400px; }
  .modal-dialog .form-control {
    border-radius: 0;
    border-top-color: #94618E;
    border-left-color: #94618E;
    border-right-color: #94618E;
    border-bottom-color: #94618E;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }

.c-logo {
  margin-bottom: 25px; }

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: white;
  text-align: center;
  background-color: #1c171c;
  border: 1px solid #1c171c;
  border-radius: 4px; }

.modal-open {
  overflow: hidden; }

.login_close, .signup_close {
  position: absolute;
  top: -5px;
  right: -20px;
  color: rgba(0, 0, 0, 0.5);
  padding: 2px 10px 10px;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all 0.25s ease-in;
  cursor: pointer; }

.l-main {
  height: 100%;
  width: 100%; }
  .l-main .l-login-wrapper {
    text-align: center;
    margin-top: 1%; }
    .l-main .l-login-wrapper .c-login_form {
      display: block;
      margin: 0 auto;
      float: none;
      padding: 10px 20px;
      background-color: #ffffff; }
    .l-main .l-login-wrapper .c-login_btn {
      margin-top: 20px;
      padding-right: 30px;
      padding-left: 30px; }
    .l-main .l-login-wrapper .c-login_form--create {
      padding-top: 10px;
      padding-bottom: 0; }
    .l-main .l-login-wrapper .c-login_form--create a {
      color: #26265F;
      padding: 7px; }

.form-control {
  border-radius: 1px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

.l-textfeild {
  padding: 20px 3px; }

.c-login_forgot-pass {
  margin-top: 20px; }

.c-login_forgot-pass p {
  font-size: 12px; }

.c-login_forgot-pass a {
  padding: 7px; }

.btn-custom {
  border-radius: 0; }

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 254px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1090;
  /* Stay on top */
  background-color: #ffffff;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: all  0.25s;
  /* 0.5 second transition effect to slide in the sidenav */ }

.sidenav-left {
  height: 100%;
  /* 100% Full-height */
  width: 254px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1090;
  /* Stay on top */
  left: 0;
  background-color: #ffffff;
  /* Black*/
  overflow-x: hidden;
  transition: all  0.25s;
  /* 0.5 second transition effect to slide in the sidenav */ }

/* The navigation menu links */
.sidenav a {
  padding: 8px 15px;
  text-decoration: none;
  display: block;
  transition: all 0.3s; }

/* When you mouse over the navigation links, change their color */
/* Position and style the close button (top right corner) */
.sidenav .btnClose {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 18px;
  margin-right: 5px;
  color: #ffffff;
  cursor: pointer; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: all .25s; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav a {
    font-size: 18px; } }

.side-nav-wrapper {
  padding: 20px;
  background-color: #6364D8;
  color: #f2f2f2; }
  .side-nav-wrapper .side-nav-content {
    padding: 10px; }
    .side-nav-wrapper .side-nav-content .side-nav-rangeSlider {
      margin-top: 5px;
      margin-bottom: 20px; }
  .side-nav-wrapper input {
    padding: 10px; }
  .side-nav-wrapper p {
    font-size: 12px;
    text-align: center; }

.chat-day {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100 !important;
  text-align: left !important; }
  .chat-day p {
    font-size: 12px;
    color: #000000;
    padding: 15px; }

.chat-section {
  transition: transform 0.3s ease-in-out; }

.chat-chatter-wrapper {
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px; }
  .chat-chatter-wrapper ul {
    margin-bottom: 0; }

.chat-chatter-content {
  width: 100%; }
  .chat-chatter-content .chat-status {
    width: 12%;
    line-height: 31px;
    font-size: 11px; }
  .chat-chatter-content li {
    display: inline-block; }

.transform-chat {
  transform: translateX(-254px); }

.chat-section2 {
  position: absolute;
  top: 100px;
  right: -254px;
  width: 254px;
  height: 84%; }
  .chat-section2 .chat-chatter-wrapper-fix {
    background-color: #ffffff; }
  .chat-section2 .chat-chatter-wrapper-fix:hover {
    background-color: #ffffff; }

.chat-section2 {
  transition: transform 0.3s ease-in-out; }

.chat-individial-screen {
  height: 100%;
  padding-bottom: 54px; }

.footer-chat-input {
  position: absolute;
  bottom: 0 !important;
  width: 100%;
  margin-bottom: 0;
  padding: 10px;
  -webkit-transition: right .2s ease-in-out;
  transition: right .2s ease-in-out; }
  .footer-chat-input input {
    padding: 5px; }

#backToChatter {
  background-color: #6364D8;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer; }
  #backToChatter p i {
    color: #ffffff; }

#myChatnav {
  overflow: hidden; }

/*.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/
input[type=range] {
  -webkit-appearance: none;
  background: none; }

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px; }

input[type=range]::-ms-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px; }

input[type=range]::-moz-range-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative; }

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative; }

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative; }

input[type=range]:focus {
  outline: none; }
  input[type=range]:focus::-webkit-slider-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555; }
  input[type=range]:focus::-ms-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555; }
  input[type=range]:focus::-moz-range-thumb:after {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background: #eee;
    border-radius: 5px;
    color: #555;
    padding: 5px 10px;
    border: 2px solid #555; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc; }

input[type=range]:focus::-ms-track {
  background: #ccc; }

input[type=range]:focus::-moz-range-track {
  background: #ccc; }

#main {
  overflow: auto !important; }

.rounded {
  border-radius: 100px; }

.btn-transparentWhtie {
  background-color: transparent;
  border: 1px solid #ffffff;
  transition: all 0.3s ease-in; }

.btn-transparentWhtie:hover,
.btn-transparentWhtie:active,
.btn-transparentWhtie:focus,
.btn-transparentWhtie:target {
  background-color: transparent;
  color: #F8CB00;
  border: 1px solid #F8CB00; }

.btn-whtie {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #94618E;
  transition: all 0.3s ease-in; }

.btn-whtie:hover,
.btn-whtie:active,
.btn-whtie:focus,
.btn-whtie:target {
  background-color: #F8CB00;
  border: 1px solid #F8CB00;
  color: #94618E; }

.btn-purple {
  background-color: #6364D8;
  color: #f2f2f2;
  border: 1px solid #6364D8;
  transition: all 0.3s ease-in; }

.btn-purple:hover, .my-cart-number,
.btn-purple:active,
.btn-purple:focus,
.btn-purple:target {
  background-color: #4f50ac;
  color: #f2f2f2;
  border: 1px solid #4f50ac; }

.btn-golden {
  background-color: #F8CB00;
  color: #1c171c;
  border: 1px solid #FFB800;
  transition: all 0.3s ease-in; }

.btn-golden:hover,
.btn-golden:active,
.btn-golden:focus,
.btn-golden:target {
  background-color: #FFB800;
  border: 1px solid #FFB800;
  transition: all 0.3s ease-in;
  color: #1c171c; }

.btn-pagenavigator {
  background-color: #1c171c;
  color: #ffffff;
  font-size: 18px;
  border-radius: 20px;
  padding: 0 9px;
  transition: all 0.25s ease-in; }

.btn-pagenavigator:hover,
.btn-pagenavigator:active,
.btn-pagenavigator:focus {
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  outline: none; }

.dropdown-menu {
  border-radius: 0;
  opacity: 0.98;
  background-clip: border-box;
  border: none; }
  .dropdown-menu li a {
    color: #94618E !important;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    font-size: 12px !important; }
    .dropdown-menu li a:hover {
      color: #94618E !important; }

.product-category {
  background-color: #ffffff;
  font-size: 12px;
  z-index: 1020;
  width: 255px; }

.product-category ul li {
  padding-bottom: 15px;
  font-weight: 300;
  letter-spacing: 0.04em;
  padding-right: 20px;
  padding-left: 20px; }

.product-category ul li:hover {
  background-color: #f2f2f2; }

.items {
  margin-top: 25px;
  width: 892px; }

.l-product {
  max-width: 205px;
  text-align: center;
  background-color: #ffffff; }

.l-product .product-description {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-size: 12px;
  font-weight: 700;
  text-align: justify; }

.l-product .product-price {
  color: #F8CB00; }

.mid-heading {
  background-color: #ffffff;
  font-size: 12px; }

.product-category ul li h5 {
  font-size: 10px;
  font-weight: 600; }

.product-category ul li {
  color: #B0B0B0; }

.product-category ul li.active {
  color: #F8CB00 !important; }

.product-category-heading {
  font-family: 'Open Sans',sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 8px !important;
  padding-top: 8px !important;
  color: #1c171c !important;
  cursor: pointer; }
  .product-category-heading i {
    padding-right: 10px;
    color: #1c171c; }

.sub-category {
  cursor: pointer;
  font-weight: 300 !important; }
  .sub-category li {
    color: #000000 !important;
    padding-left: 40px !important;
    padding-top: 8px !important;
    padding-bottom: 5px !important; }
  .sub-category li a {
    color: #000000 !important;
    font-family: 'Open Sans',sans-serif; }

.navbar-brand {
  color: #ffffff !important; }

.mid-heading-icons i {
  color: #1c171c;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  font-size: 18px;
  cursor: pointer; }
  .mid-heading-icons i:hover {
    color: rgba(0, 0, 0, 0.4); }

.pagination-text {
  vertical-align: middle; }

/* Morph Button: Default Styles */
.morph-button {
  position: relative;
  display: block;
  margin: 0 auto; }

.morph-button > button {
  position: relative;
  padding: 0 1em;
  border: none;
  background-color: #e85657;
  color: #f9f6e5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  /*line-height: 80px;*/
  overflow: hidden; }

.morph-button.open > button {
  pointer-events: none; }

.morph-content {
  pointer-events: none; }

.morph-button.open .morph-content {
  pointer-events: auto; }

/* Common styles for overlay and modal type (fixed morph) */
.morph-button-fixed,
.morph-button-fixed .morph-content {
  width: 210px;
  height: 292px; }

.morph-button-fixed > button {
  z-index: 99;
  width: 100%;
  height: 292px;
  -webkit-transition: opacity 0.1s 0.5s;
  transition: opacity 0.1s 0.5s; }

.morph-button-fixed.open > button {
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s; }

.morph-button-fixed .morph-content {
  position: fixed;
  z-index: 900;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s; }

.morph-button-fixed.open .morph-content {
  opacity: 1; }

.morph-button-fixed .morph-content > div {
  visibility: hidden;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
  transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s; }

.morph-button-fixed.open .morph-content > div {
  visibility: visible;
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s; }

.morph-button-fixed.active > button {
  z-index: 2000; }

.morph-button-fixed.active .morph-content {
  z-index: 1900; }

/* Transitions for overlay button and sidebar button */
.morph-button-overlay .morph-content,
.morph-button-sidebar .morph-content {
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s; }

.morph-button-overlay.open .morph-content,
.morph-button-sidebar.open .morph-content {
  -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
  transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s; }

/* Morph Button Style: Overlay */
.morph-button.morph-button-overlay {
  /*margin: 50px auto;*/ }

.morph-button-overlay .morph-content {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.7); }

.morph-button-overlay.open .morph-content {
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%; }

/* Morph Button Style: Modal */
.morph-button-modal::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  pointer-events: none; }

.morph-button-modal.open::before {
  opacity: 1;
  pointer-events: auto; }

.morph-button-modal.active::before {
  z-index: 1800; }

.morph-button-modal .morph-content {
  overflow: hidden;
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s; }

.morph-button-modal.open .morph-content {
  top: 50% !important;
  left: 50% !important;
  margin: -210px 0 0 -300px;
  width: 600px;
  height: 420px;
  -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s; }

/* Colors and sizes for individual modals */
.morph-button.morph-button-modal-1 {
  float: left; }

.morph-button.morph-button-modal-2,
.morph-button.morph-button-modal-3 {
  display: inline-block;
  margin: 10px 15px; }

.morph-button-modal-1 > button,
.morph-button-modal-1 .morph-content {
  background-color: #553445; }

.morph-button-modal-2 > button,
.morph-button-modal-2 .morph-content,
.morph-button-modal-3 > button,
.morph-button-modal-3 .morph-content {
  background-color: #fef0e3;
  color: #e75854; }

.morph-button-modal-4 {
  display: inline-block; }

.morph-button-modal-4 > button,
.morph-button-modal-4 .morph-content {
  background-color: #faf1e0;
  color: #553445; }

.morph-button-modal-4 > button span,
.morph-button-modal-4 .morph-clone {
  padding-left: 10px;
  color: #286f81; }

.morph-button-modal-4 .morph-clone {
  position: absolute;
  right: 34px;
  bottom: 30px;
  z-index: 100;
  letter-spacing: 1px;
  font-weight: 700;
  -webkit-transition: bottom 0.4s 0.1s, right 0.4s 0.1s;
  transition: bottom 0.4s 0.1s, right 0.4s 0.1s; }

.morph-button-modal-4.open .morph-clone,
.no-js .morph-button-modal-4 .morph-clone {
  right: 10px;
  bottom: 10px; }

.morph-button-modal-1::before {
  background: rgba(240, 221, 204, 0.7); }

.morph-button-modal-2.open .morph-content {
  margin: -210px 0 0 -170px;
  width: 340px;
  height: 420px; }

.morph-button-modal-3.open .morph-content {
  margin: -255px 0 0 -210px;
  width: 420px;
  height: 510px; }

.morph-button-modal-3.open .morph-content > div {
  height: 420px; }

.morph-button-modal-2.open .morph-content > div,
.morph-button-modal-3.open .morph-content > div {
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s; }

.morph-button-modal-4.open .morph-content {
  margin: -200px 0 0 -320px;
  width: 640px;
  height: 400px; }

/* Morph Button Style: In the content flow */
.morph-button-inflow {
  overflow: hidden;
  max-width: 100%;
  height: 70px; }

.morph-button-inflow > button {
  width: 100%;
  line-height: 70px; }

.morph-button-inflow .morph-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.morph-button-inflow .morph-content .morph-clone {
  padding: 0;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 70px; }

/* Colors and sizes for individual in flow buttons */
.morph-button-inflow-1 {
  width: 600px;
  margin: 2em auto;
  -webkit-transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1); }

.morph-button-inflow-1 > button span {
  visibility: hidden; }

.morph-button-inflow-1 .morph-content .morph-clone {
  color: #f9f6e5;
  background: #e85657; }

.morph-button-inflow-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  background-color: #fef0e3;
  -webkit-transition: height 0.3s, width 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, width 0.3s, transform 0.3s;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.morph-button-inflow-2 > button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #e75854;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }

.morph-button-inflow-2.open > button {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

.morph-button-inflow-2 .morph-content {
  width: 260px;
  height: 200px; }

.morph-button-inflow-2.open {
  width: 260px; }

/* Morph Button Style: Sidebar */
.morph-button-sidebar,
.morph-button-sidebar .morph-content {
  width: 60px;
  height: 60px; }

.morph-button-sidebar {
  position: fixed;
  bottom: 50px;
  left: 50px; }

.morph-button-sidebar > button {
  line-height: 60px;
  font-size: 1.6em;
  padding: 0; }

.morph-button-sidebar .morph-content {
  background: #e85657; }

.morph-button-sidebar.open .morph-content {
  top: 0 !important;
  left: 0 !important;
  width: 300px;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden; }

/* Let's add some nice easing for all cases */
.morph-button .morph-content,
.morph-button.open .morph-content,
.morph-button-modal-4 .morph-clone {
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

/* Helper classes */
.noscroll {
  overflow: hidden; }

.morph-button-overlay.scroll .morph-content {
  overflow-y: scroll; }

.morph-button-sidebar.scroll .morph-content {
  overflow: auto; }

/* No JS fallback: let's hide the button and show the content */
.no-js .morph-button > button {
  display: none; }

.no-js .morph-button {
  margin: 10px 0;
  float: none; }

.no-js .morph-button,
.no-js .morph-button .morph-content,
.no-js .morph-button .morph-content > div {
  position: relative;
  width: auto;
  height: auto;
  opacity: 1;
  visibility: visible;
  top: auto;
  left: auto;
  -webkit-transform: none;
  transform: none;
  pointer-events: auto; }

.no-js .morph-button .morph-content .icon-close {
  display: none; }

.no-js .morph-button-sidebar {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  background: #e85657;
  overflow: auto; }

.no-transition {
  -webkit-transition: none !important;
  transition: none !important; }

/* Media Queries */
@media screen and (max-width: 600px) {
  .morph-button-modal.open .morph-content {
    top: 0% !important;
    left: 0% !important;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
    transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s; } }

@media screen and (max-width: 400px) {
  .morph-button-fixed,
  .morph-button-fixed .morph-content {
    width: 200px;
    height: 292px; }
  .morph-button-fixed > button {
    font-size: 75%; }
  .morph-button-sidebar > button {
    font-size: 1.6em; }
  .morph-button-inflow .morph-content .morph-clone {
    font-size: 0.9em; }
  .morph-button-modal-4,
  .morph-button-modal-4 .morph-content {
    width: 220px;
    height: 120px; }
  .morph-button-modal-4 > button {
    font-size: 100%;
    line-height: 50px; }
  .morph-button-modal-4 > button span {
    display: block; }
  .morph-button-modal-4 .morph-clone {
    right: 83px;
    bottom: 26px; }
  .morph-button-sidebar,
  .morph-button-sidebar .morph-content {
    width: 100% !important;
    height: 60px !important; }
  .morph-button-sidebar {
    bottom: 0px;
    left: 0px; }
  .morph-button-sidebar.open .morph-content {
    height: 100% !important; } }

/* Icons */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?i64fx9");
  src: url("../fonts/icomoon/icomoon.eot?#iefixi64fx9") format("embedded-opentype"), url("../fonts/icomoon/icomoon.woff?i64fx9") format("woff"), url("../fonts/icomoon/icomoon.ttf?i64fx9") format("truetype"), url("../fonts/icomoon/icomoon.svg?i64fx9#icomoon") format("svg"); }

.icon-close {
  z-index: 100;
  display: block;
  overflow: hidden;
  width: 3em;
  height: 3em;
  text-align: center;
  line-height: 3;
  cursor: pointer; }

.icon:before {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'icomoon';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-camera:before {
  content: "\e017"; }

.icon-server:before {
  content: "\e022"; }

.icon-heart:before {
  content: "\e024"; }

.icon-zoom-in:before {
  content: "\e037"; }

.icon-microphone:before {
  content: "\e048"; }

.icon-cloud:before {
  content: "\e066"; }

.icon-user:before {
  content: "\e074"; }

.icon-briefcase:before {
  content: "\e075"; }

.icon-globe:before {
  content: "\e078"; }

.icon-cog::before {
  content: "\e600"; }

.icon-close::before {
  content: "\e601"; }

.icon-play::before {
  content: "\e602"; }

.icon-pause::before {
  content: "\e603"; }

.icon-close {
  position: absolute;
  top: 20px;
  right: 20px; }

.icon-close:hover {
  color: #a50a05; }

/* Styles for dummy content */
/* Style for overlay */
.content-style-overlay {
  padding: 100px 50px;
  text-align: center; }

.content-style-overlay h2 {
  margin: 0 0 1em 0;
  padding: 0;
  font-weight: 300;
  font-size: 3em; }

.content-style-overlay p {
  margin: 0 auto;
  padding: 10px 0;
  max-width: 700px;
  text-align: justify;
  font-weight: 300;
  font-size: 1.5em; }

.content-style-overlay .icon-close {
  border: 2px solid #f9e1c9;
  border-radius: 50%;
  line-height: 2.8; }

.content-style-overlay .icon-close:hover {
  border-color: #a50a05; }

/* Style for text modal */
.content-style-text {
  padding: 60px;
  text-align: left; }

.content-style-text h2 {
  margin: 0 0 0.5em 0;
  font-weight: 300;
  font-size: 1.85em; }

.content-style-text p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 1.15em;
  line-height: 1.4; }

.content-style-text label {
  padding: 10px;
  color: #f9e1c9;
  font-weight: bold; }

.content-style-text .icon-close {
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.2); }

.content-style-text .icon-close:hover {
  color: #f9e1c9; }

/* Style for form modal */
.content-style-form {
  position: relative;
  text-align: left; }

.content-style-form h2 {
  margin: 0;
  padding: 0.4em 0 0.3em;
  text-align: center;
  font-weight: 300;
  font-size: 3.5em; }

.content-style-form form {
  padding: 10px 30px; }

.content-style-form form p {
  margin: 0 0 5px 0;
  font-size: 0.7em; }

.content-style-form label {
  display: block;
  padding: 10px 0 0;
  color: #d5bba4;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold; }

.content-style-form input[type="text"],
.content-style-form input[type="password"] {
  padding: 10px;
  width: 100%;
  border: 2px solid #ebd3bd;
  background: transparent;
  color: #b09a86;
  font-weight: 300;
  font-size: 2.2em; }

.content-style-form input[type="text"]:focus,
.content-style-form input[type="password"]:focus {
  border-color: #e75854;
  color: #e75854; }

.content-style-form input:focus {
  outline: 0; }

.content-style-form button {
  display: block;
  margin-top: 2.5em;
  padding: 1.5em;
  width: 100%;
  border: none;
  background: #e75854;
  color: #f9f6e5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 1.25em; }

.content-style-form .icon-close {
  top: 0;
  right: 0;
  color: #ebd3bd;
  font-size: 75%; }

.content-style-form .icon-close:hover {
  color: #e75854; }

.js .content-style-form-1 h2,
.js .content-style-form-1 p,
.js .content-style-form-1 .icon-close {
  opacity: 0;
  -webkit-transition: opacity 0.2s 0.35s, -webkit-transform 0.2s 0.35s;
  transition: opacity 0.2s 0.35s, transform 0.2s 0.35s;
  -webkit-transform: scale(0.85);
  transform: scale(0.85); }

.content-style-form-1 p:first-child {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s; }

.content-style-form-1 p:nth-child(2) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s; }

.content-style-form-1 p:nth-child(3) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s; }

.morph-button.open .content-style-form-1 h2,
.morph-button.open .content-style-form-1 p,
.morph-button.open .content-style-form-1 .icon-close {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.js .content-style-form-2 h2,
.js .content-style-form-2 p,
.js .content-style-form-2 .icon-close {
  opacity: 0;
  -webkit-transition: opacity 0.2s 0.3s, -webkit-transform 0.2s 0.3s;
  transition: opacity 0.2s 0.3s, transform 0.2s 0.3s;
  -webkit-transform: translateY(50px);
  transform: translateY(50px); }

.content-style-form-2 p:first-child {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s; }

.content-style-form-2 p:nth-child(2) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s; }

.content-style-form-2 p:nth-child(3) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s; }

.content-style-form-2 p:nth-child(4) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s; }

.morph-button.open .content-style-form-2 h2,
.morph-button.open .content-style-form-2 p,
.morph-button.open .content-style-form-2 .icon-close {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.content-style-form-4 form {
  padding: 30px;
  background: #fff;
  color: #ccb096;
  font-size: 1.5em;
  -webkit-perspective: 1000px;
  perspective: 1000px; }

.content-style-form-4 input[type="text"] {
  border: none;
  background-color: #f0f0f0; }

.content-style-form-4 form button {
  background: #ba997b; }

.content-style-form-4 form button:focus,
.content-style-form-4 form button:hover {
  background: #a9896d; }

.js .content-style-form-4 p {
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: rotateX(-45deg);
  transform: rotateX(-45deg);
  -webkit-transform-origin: center top;
  transform-origin: center top; }

.morph-button.open .content-style-form-4 p {
  opacity: 1;
  -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.4s 0.2s;
  transition: opacity 0.4s 0.2s, transform 0.4s 0.2s;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg); }

.morph-button.open .content-style-form-4 p:nth-child(2) {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s; }

.content-style-social {
  padding: 30px;
  text-align: left; }

.morph-button-inflow-2 > button svg {
  display: inline-block;
  padding-right: 10px;
  width: 20px;
  height: 20px;
  vertical-align: -5%; }

.morph-button-inflow-2 > button svg path {
  fill: #e75854; }

.content-style-social a {
  display: block;
  padding: 0.5em 0;
  color: #67c2d4;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 0.8em;
  line-height: 32px; }

.js .content-style-social a {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

.content-style-social a:hover {
  color: #e75854; }

.content-style-social a:hover svg path {
  fill: #e75854; }

.content-style-social a svg {
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
  -webkit-backface-visibility: hidden; }

.morph-button-inflow.open .content-style-social a {
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.morph-button-inflow.open .content-style-social a:nth-child(2) {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }

.morph-button-inflow.open .content-style-social a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.content-style-video {
  text-align: left; }

.video-mockup {
  width: 640px;
  height: 360px;
  max-width: 100%;
  background: url(../img/rated.png) no-repeat center center;
  background-size: 100%; }

.content-style-video .icon-close,
.content-style-video .icon-pause {
  color: #286f81; }

.content-style-video .icon-close {
  top: 0;
  right: 0; }

.content-style-video .icon-close:hover {
  color: rgba(0, 0, 0, 0.4); }

.controls {
  bottom: 0px;
  left: 0px;
  width: 100%; }

.js .controls {
  position: absolute; }

.controls span {
  display: inline-block; }

.content-style-video .icon-pause {
  overflow: hidden;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  line-height: 2.5;
  cursor: pointer;
  vertical-align: bottom; }

.content-style-video span.time {
  color: #286f81;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 40px; }

.controls::after {
  content: '';
  position: absolute;
  height: 7px;
  left: 100px;
  right: 70px;
  bottom: 16px;
  background: #aaa; }

.content-style-sidebar h2 {
  font-weight: 300;
  font-size: 2em;
  padding: 0.75em 0 0.75em 1em;
  margin: 0;
  color: #bb4445; }

.content-style-sidebar .icon-close {
  top: 0;
  right: 0;
  font-size: 0.85em; }

.content-style-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.content-style-sidebar ul li a {
  display: block;
  padding: 12px 20px;
  color: #faf1e0;
  font-weight: 400;
  font-size: 1.05em;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.1); }

.content-style-sidebar ul li:last-child a {
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.1), inset 0 -1px rgba(0, 0, 0, 0.1); }

.content-style-sidebar ul li a:hover {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: none; }

.content-style-sidebar ul .icon::before {
  display: inline-block;
  width: auto;
  margin-right: 20px;
  font-size: 1.5em;
  vertical-align: -10%;
  color: rgba(0, 0, 0, 0.2); }

@media screen and (max-width: 770px) {
  .content-style-overlay {
    font-size: 75%; }
  .content-style-overlay .icon-close {
    top: 5px;
    right: 5px; } }

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
  src: url("../fonts/codropsicons/codropsicons.eot");
  src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg"); }

@font-face {
  font-family: 'Blokk';
  src: url("../fonts/blokk/BLOKKRegular.eot");
  src: url("../fonts/blokk/BLOKKRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/blokk/BLOKKRegular.woff") format("woff"), url("../fonts/blokk/BLOKKRegular.svg#BLOKKRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/**, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }*/
/*.clearfix:before, .clearfix:after { content: ''; display: table; }*/
/*.clearfix:after { clear: both; }*/
/*body {*/
/*position: relative;*/
/*background: #5f545a;*/
/*color: #faf1e0;*/
/*font-size: 100%;*/
/*line-height: 1.25;*/
/*font-weight: 300;*/
/*font-family: 'Lato', Arial, sans-serif;*/
/*}*/
/*.container {*/
/*background: #67c2d4;*/
/*}*/
/*a, button {*/
/*color: #553445;*/
/*text-decoration: none;*/
/*outline: none;*/
/*}*/
/*a:hover, a:focus {*/
/*color: #e75854;*/
/*}*/
.codrops-header {
  margin: 0 auto;
  padding: 2em;
  text-align: center; }

.codrops-header h1 {
  margin: 0;
  font-weight: 800;
  font-size: 3em;
  font-family: "Merriweather Sans", sans-serif; }

.codrops-header p {
  padding: 0.35em 0 1.25em;
  margin: 0;
  font-size: 1.65em;
  opacity: 0.7; }

/* Codrops Demos */
.codrops-demos a {
  font-family: "Merriweather Sans", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 10px; }

.codrops-demos a.current-demo {
  color: #e75854; }

/* Top Navigation Style */
.codrops-top {
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.69em;
  line-height: 2.2; }

.codrops-top a {
  display: inline-block;
  padding: 0 1em;
  text-decoration: none;
  letter-spacing: 1px; }

.codrops-top span.right {
  float: right; }

.codrops-top span.right a {
  display: block;
  float: left; }

.codrops-icon:before {
  margin: 0 4px;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'codropsicons';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased; }

.codrops-icon-drop:before {
  content: "\e001"; }

.codrops-icon-prev:before {
  content: "\e004"; }

/*section {*/
/*padding: 2em;*/
/*text-align: justify;*/
/*max-width: 800px;*/
/*margin: 0 auto;*/
/*clear: both;*/
/*}*/
/*section p {*/
/*font-size: 1.5em;*/
/*line-height: 1.75;*/
/*}*/
/*section > p:first-child {*/
/*text-align: center;*/
/*}*/
/*section.related {*/
/*text-align: center;*/
/*}*/
.related p {
  font-weight: 700; }

.related > a {
  border: 2px solid #faf1e0;
  color: #faf1e0;
  display: inline-block;
  text-align: center;
  margin: 20px 10px;
  padding: 20px;
  -webkit-transition: color 0.3s, border-color 0.3s;
  transition: color 0.3s, border-color 0.3s; }

.related a:hover {
  color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2); }

.related a img {
  max-width: 100%;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.related a:hover img,
.related a:active img {
  opacity: 1; }

.related a h3 {
  margin: 0;
  padding: 0.5em 0 0.3em;
  max-width: 300px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  text-align: left;
  font-family: "Merriweather Sans", sans-serif; }

/* Demo mockups */
.mockup-content {
  text-align: center; }

.demo-4 .mockup-content {
  padding: 1em 0 3em; }

.demo-5 .mockup-content {
  padding: 1em 0 6em; }

.mockup-content > span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 100%;
  margin: 0 0 10px;
  clear: both; }

.mockup-content > span:nth-child(2),
.mockup-content > span:nth-child(3),
.mockup-content > span:nth-last-child(2) {
  width: calc(50% - 5px);
  float: left;
  clear: none;
  height: 80px; }

.mockup-content > span:nth-child(3),
.mockup-content > span:nth-last-child(2) {
  float: right; }

.mockup-content > span:nth-last-child(2) {
  width: calc(100% - 310px); }

.no-js .mockup-content > span:nth-last-child(2) {
  width: 100%; }

.mockup-content h2 {
  font-size: 2em;
  margin: 0; }

.mockup-content > p {
  font-family: 'Blokk', sans-serif;
  font-size: 0.85em;
  text-align: center;
  opacity: 0.5;
  margin: 0;
  overflow: hidden; }

.no-js .joiner {
  display: block; }

.demo-5 .mockup-content > p {
  font-size: 1.4em;
  margin: 0;
  padding: 0.5em 0;
  text-align: justify;
  font-family: 'Lato', Arial, sans-serif; }

.js .fixed-block {
  min-height: 300px;
  position: relative; }

.mockup-left {
  float: left;
  max-width: 100%;
  overflow: hidden;
  width: 300px;
  margin: 0 40px 50px 0;
  background: rgba(0, 0, 0, 0.1);
  height: 400px;
  position: relative; }

.mockup-left::after {
  content: '\2234';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.05);
  font-size: 15em; }

.mockup-right {
  text-align: left; }

html.demo-7, .demo-7 body {
  overflow-x: hidden;
  height: 100%; }

.demo-7 .container {
  width: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.1s;
  transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.1s; }

.no-js.demo-7 .container {
  width: calc(100% - 300px);
  right: 0; }

.pushed.container {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transform: translateX(300px);
  transform: translateX(300px); }

@media screen and (max-width: 770px) {
  .mockup-left {
    float: none;
    margin: 0 auto 20px; }
  .mockup-right {
    text-align: center; }
  .joiner {
    display: block; } }

@media screen and (max-width: 400px) {
  .mockup-content > span:nth-last-child(2) {
    width: calc(100% - 210px); } }

@media screen and (max-width: 25em) {
  .codrops-icon span {
    display: none; } }

.content-style-overlay {
  padding-left: 23% !important;
  padding-right: 23% !important;
  padding-top: 10% !important;
  padding-bottom: 15% !important; }

.overlay-itemDescription {
  text-align: left; }

.overlay-itemDetail {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.overlay-itemImage {
  padding-top: 20px;
  padding-bottom: 20px; }

.overlay-itemImage img {
  display: inline-block !important;
  height: 300px !important;
  width: auto !important; }

.morph-button-overlay.scroll .morph-content {
  overflow-y: hidden !important; }

.itemDescription-stars ul li {
  margin-right: 12px;
  display: inline-block;
  height: 0;
  width: 0; }

.itemDescription-price {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #F8CB00; }

.itemDescription-reviewNumber {
  font-size: 8px !important;
  color: rgba(0, 0, 0, 0.4); }

.itemDescription-title h4 {
  line-height: 1.4em; }

.itemDescription-text {
  padding-top: 15px;
  font-size: 8px; }

.wizard {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  background-color: #1c171c;
  padding-top: 10%; }
  .wizard .font-lg {
    font-size: 38px; }
  .wizard .font-md {
    font-size: 22px; }
  .wizard .font-sm {
    font-size: 18px; }

.btn-forForm {
  min-width: 280px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-weight: 300; }

.btn-wizard-next {
  font-size: 38px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  padding: 0 20px;
  transition: all 0.4s ease-in-out; }

.btn-wizard-next:hover {
  border: 2px solid #FFB800;
  color: #FFB800; }

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

.wizard input {
  margin-top: 25px;
  border-color: transparent;
  background-color: transparent;
  padding: 15px;
  color: #f2f2f2;
  font-size: 18px;
  border-bottom: 1px solid red;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  outline: none; }

.wizard input {
  margin-top: 25px;
  border-color: transparent;
  background-color: transparent;
  padding: 15px;
  color: #f2f2f2;
  font-size: 18px;
  border-bottom: 1px solid red;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  outline: none; }

.wizard input:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  outline: none; }

.wizard textarea {
  margin-top: 25px;
  padding: 15px;
  background-color: transparent;
  color: #f2f2f2;
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2); }

.wizard textarea:focus {
  border-color: rgba(255, 255, 255, 0.4);
  outline: none; }

.wizard-container {
  vertical-align: middle; }

.txt-white {
  color: white; }

.bg-transparent {
  background-color: transparent; }

.bg-transparent:hover {
  background-color: transparent !important; }

.wiz-title {
  font-weight: 100 !important;
  font-size: 38px;
  color: #ffffff;
  text-align: center; }

.btn-wizard-next-wrapper {
  position: absolute;
  right: 50px;
  bottom: 50px; }

#listOfFeatures {
  font-size: 18px;
  color: #f2f2f2;
  margin-top: 20px; }

.sub-category-list {
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px; }
  .sub-category-list li {
    padding-top: 5px;
    padding-bottom: 5px; }

.c-image {
  padding: 10px; }

.l-listView {
  margin-top: 20px; }

.c-image {
  display: table-cell;
  float: none;
  vertical-align: middle; }

.c-listView {
  display: table; }

.c-description {
  display: table-cell;
  float: none;
  vertical-align: middle; }
  .c-description .c-description-title {
    font-size: 14px;
    font-weight: 800; }
    .c-description .c-description-title p {
      margin-top: 10px; }
  .c-description .c-description-text {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.0em; }

.c-user {
  display: table-cell;
  float: none;
  vertical-align: middle; }

p {
  font-size: 12px; }

.c-price {
  display: table-cell;
  float: none;
  vertical-align: middle; }

.c-actions {
  vertical-align: middle;
  float: none;
  display: table-cell; }

.user-profile-nav {
  background-color: #fff;
  border-bottom: solid 1px #ddd; }

.user-profile-nav .underline-nav {
  height: 62px; }

.underline-nav {
  display: table;
  height: 62px; }

.underline-nav-item {
  display: table-cell;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 14px;
  color: #767676;
  vertical-align: middle;
  border-bottom: 2px solid transparent; }

.user-profile-nav .nav-pills li a {
  color: #767676; }

.user-profile-nav .nav-pills li a:hover {
  color: #333333;
  background-color: #ffffff; }

.user-profile-nav .nav-pills > li.active > a, .user-profile-nav .nav-pills > li.active > a:focus, .user-profile-nav .nav-pills > li.active > a:hover {
  color: #333;
  background-color: #ffffff; }

.user-profile-nav .underline-nav-item .active {
  border-bottom: 2px solid #c9510c; }

.user-profile-nav .nav-pills > li {
  float: none; }

.user-profile-nav .nav > li {
  display: table-cell; }

.user-profile-nav .nav-pills > li.active {
  border-bottom: 2px solid #c9510c; }

.user-profile-nav .nav-pills > .active > a > .badge {
  color: #666;
  background-color: #eee; }

.user-profile-nav .badge {
  color: #666;
  background-color: #eee; }

.no-float {
  float: none; }

.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px; }

.avatar-upload {
  float: left;
  width: 340px;
  margin-left: 20px; }

.edit-profile-avatar .manual-file-chooser {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 34px;
  padding: 0;
  margin-left: -44px;
  cursor: pointer; }

.manual-file-chooser {
  position: absolute;
  width: 240px;
  padding: 5px;
  margin-left: -80px;
  cursor: pointer;
  opacity: 0.0001; }

.form-control {
  height: 20px;
  padding: 16px;
  border-radius: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

.note {
  margin-top: 8px;
  margin-bottom: 8px; }

#profile-edit .nav-pills > li {
  border-bottom: 1px solid #eee; }

#chatMain .chatMain-left {
  width: 300px;
  left: 0 !important;
  position: absolute;
  padding-top: 57px;
  height: 100%;
  flex: 1; }
  #chatMain .chatMain-left .navbar {
    border-right: 1px solid #e7e7e7;
    height: 100%; }
    #chatMain .chatMain-left .navbar ul li input {
      margin: 15px 20px;
      border-radius: 5px;
      box-shadow: none;
      border: 1px solid #e7e7e7;
      padding-top: 4px;
      padding-bottom: 4px; }
  #chatMain .chatMain-left ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  #chatMain .chatMain-left .sidenav-left {
    height: 100%;
    /* 100% Full-height */
    width: 300px;
    /*  width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1090;
    /* Stay on top */
    background-color: #ffffff;
    /* white*/
    border-right: 1px solid #ECEDF2;
    border-top: 2px solid #ECEDF2;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    left: 0; }

#chatMain .chat-navs {
  background-color: transparent;
  transition: all .2s ease-in-out;
  cursor: pointer; }
  #chatMain .chat-navs ul .active {
    background-color: #F8f8f8; }
  #chatMain .chat-navs ul li {
    padding: 10px;
    display: inline;
    color: #6364D8 !important; }
    #chatMain .chat-navs ul li a {
      font-size: 14px;
      color: #1c171c !important; }

#chatMain .chat-navs:hover {
  background-color: #F8f8f8; }

#chatMain .search {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px; }

#chatMain .search input {
  padding: 9px;
  font-size: 12px;
  text-indent: 20px;
  width: 100%;
  border: 1px solid #ECEDF2;
  border-radius: 4px; }

#chatMain .search .fa-search {
  position: absolute;
  top: 12px;
  left: 25px;
  font-size: 15px;
  color: #cccccc; }

#chatMain .chat-thumb {
  vertical-align: middle; }
  #chatMain .chat-thumb img {
    border-radius: 20px; }

#chatMain .chat-chatter-info {
  width: 63%;
  vertical-align: super;
  padding-left: 5px;
  padding-right: 5px; }
  #chatMain .chat-chatter-info .chat-chatter-name {
    font-size: 14px; }
  #chatMain .chat-chatter-info .chat-chatter-msg {
    font-size: 85%; }

#chatMain .chat-chatter-name i {
  font-size: 9px; }

#chatMain .chat-time {
  margin-top: 12px; }
  #chatMain .chat-time p {
    margin-bottom: 5px;
    font-size: 10px;
    color: rgba(28, 23, 28, 0.5); }
    #chatMain .chat-time p .badge {
      background-color: #6364D8; }

.chat-chatter-wrapper-fix {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(242, 242, 242, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  cursor: pointer; }

.chat-chatter-wrapper-fix:hover {
  background-color: rgba(242, 242, 242, 0.3); }

.side-chatNav-wrapper {
  padding-bottom: 5px;
  color: #1c171c; }
  .side-chatNav-wrapper .side-nav-content {
    border: 1px solid rgba(242, 242, 242, 0.5);
    padding: 5px; }
    .side-chatNav-wrapper .side-nav-content .side-nav-rangeSlider {
      margin-top: 5px; }

#chatMain .chatMain-right {
  width: 300px;
  right: 0 !important;
  position: absolute;
  padding-top: 60px;
  height: 100%;
  z-index: 1;
  flex: 3;
  border-left: 1px solid #e7e7e7 !important; }
  #chatMain .chatMain-right .navbar {
    height: 100%; }
  #chatMain .chatMain-right .overlay-itemImage img {
    height: 200px !important; }
  #chatMain .chatMain-right .itemDescription-reviewNumber {
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 12px !important; }
  #chatMain .chatMain-right .overlay-itemDetail {
    box-shadow: none; }

#chatMain .chatMain-bottom {
  padding-left: 300px;
  padding-right: 300px;
  width: 100%;
  height: 70px;
  bottom: 0;
  position: absolute;
  flex: 1;
  background-color: #ECEDF2, 1;
  border-top: 2px solid #ECEDF2; }
  #chatMain .chatMain-bottom .navbar {
    height: 100%; }

#chatMain .chatMain-bottom-send-message {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px; }

#chatMain .chatMain-bottom-send-message input {
  border: none;
  padding: 9px;
  font-size: 14px;
  text-indent: 25px;
  width: 100%;
  border-radius: 4px; }
  #chatMain .chatMain-bottom-send-message input:focus {
    outline: none; }

#chatMain .chatMain-bottom-send-message .fa-smile-o {
  position: absolute;
  top: 12px;
  right: 60px;
  font-size: 22px;
  color: #ADADAD; }

#chatMain .chatMain-bottom-send-message .fa-paper-plane {
  position: absolute;
  top: 12px;
  right: 25px;
  font-size: 22px;
  color: #ADADAD; }

.chatMain-mid {
  height: 100%;
  width: 100%;
  padding-left: 300px;
  padding-right: 300px; }
  .chatMain-mid .sidenav-mid {
    padding-left: 8%;
    padding-right: 8%; }
    .chatMain-mid .sidenav-mid .chat-chatter-wrapper-fix {
      border: none; }
      .chatMain-mid .sidenav-mid .chat-chatter-wrapper-fix:hover {
        background-color: transparent; }
      .chatMain-mid .sidenav-mid .chat-chatter-wrapper-fix .chat-chatter-wrapper ul li {
        display: inline-block; }
      .chatMain-mid .sidenav-mid .chat-chatter-wrapper-fix .chat-chatter-wrapper .chat-chatter-content {
        margin-top: 10px;
        margin-bottom: 10px; }
    .chatMain-mid .sidenav-mid .speech-receive {
      height: 100%;
      max-width: 75%;
      text-align: left;
      line-height: 18px;
      background-color: rgba(0, 0, 0, 0.04);
      border: 1px solid rgba(0, 0, 0, 0.04);
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 0 25px 25px 25px;
      padding: 7px 10px 0 10px;
      margin-left: 7px;
      margin-right: 7px;
      vertical-align: top; }
      .chatMain-mid .sidenav-mid .speech-receive p {
        font-size: 14px; }
    .chatMain-mid .sidenav-mid .speech-sent {
      height: 100%;
      max-width: 75%;
      text-align: right;
      line-height: 18px;
      background-color: rgba(0, 0, 0, 0.04);
      border: 1px solid rgba(0, 0, 0, 0.04);
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 25px 0 25px 25px;
      padding: 7px 10px 0 10px;
      font-size: 14px;
      margin-left: 7px;
      margin-right: 7px; }
      .chatMain-mid .sidenav-mid .speech-sent p {
        font-size: 14px; }

#chatMain {
  display: flex;
  flex-direction: column; }
  #chatMain .navbar {
    background-color: #ffffff;
    border-bottom: 2px solid #ECEDF2;
    margin-bottom: 0;
    height: 60px;
    z-index: 2; }

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 254px;
  /*  width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1090;
  /* Stay on top */
  background-color: #ffffff;
  /* white*/
  overflow-x: hidden;
  /* Disable horizontal scroll */ }

/* The navigation menu links */
.sidenav a {
  padding: 8px 15px;
  text-decoration: none;
  display: block;
  transition: all 0.3s; }

/* When you mouse over the navigation links, change their color */
/* Position and style the close button (top right corner) */
.sidenav .btnClose {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 18px;
  margin-right: 5px;
  color: #ffffff;
  cursor: pointer; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: all .25s; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav a {
    font-size: 18px; } }

.side-nav-wrapper {
  padding: 20px;
  background-color: #6364D8;
  color: #f2f2f2; }
  .side-nav-wrapper .side-nav-content {
    padding: 10px; }
    .side-nav-wrapper .side-nav-content .side-nav-rangeSlider {
      margin-top: 5px;
      margin-bottom: 20px; }
  .side-nav-wrapper input {
    padding: 10px; }
  .side-nav-wrapper p {
    font-size: 12px;
    text-align: center; }
