$color-yellow: #F8CB00;
$color-darkYellow: #FFB800;

$color-offWhite: #f2f2f2;
$color-white: #ffffff;

$color-purplePrimary:#94618E;
$color-darkPurple:#1c171c;
$color-blackPurple:#1c171c;

$color-textOnwhite: #1F1F1F;




$color-primary:#F8CB00;  //PrimarycolorYellow

$color-purple:#6364D8;    //Secondary purple
$color-secondary: #6364D8;//Secondary purple
$color-purpleHover:#4f50ac;//Secondary purple darker hover


$color-black : #000000;
$color-blackHover:rgba($color-black,0.4);