
#footer {
  border-top: 1px solid #f4f0f7 ;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  background: $color-offWhite;
  z-index: 9;
  font-size: 12px;
  color: $color-darkPurple;
}
a svg rect {
  stroke: #eeeeee;
  stroke-width: 4;
  fill: #eeeeee;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a svg path {
  fill: $color-darkPurple;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover svg rect {
  stroke-width: 50;
  stroke: $color-darkPurple;
}
a:hover svg path {
  fill: #ffffff;
}