
//form input design
.form-control{
  //background-color:transparent ;
  border-radius: 0;
  //border-top: $color-offWhite;
  //border-left:$color-offWhite;
  //border-right:$color-offWhite;
  //border-bottom-color: $color-offWhite;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid $color-white;
}

.navbar-custom .form-control {
  color: $color-black !important;
  transition: all 0.3s ease-in;

}
.navbar-custom .form-control:active,
.navbar-custom .form-control:focus{
 background-color: $color-white;
  color: $color-blackPurple!important;
  border: 1px solid $color-white;
}

.navbar-custom{
  ::-webkit-input-placeholder {
    color: $color-black;
    opacity: .6 !important; }
  :-moz-placeholder {color: $color-black;;
    opacity: .6 !important;}
  ::-moz-placeholder { color: $color-black;;
    opacity: .6 !important;}
  :-ms-input-placeholder {color: $color-black;;
    opacity: .6 !important;}
}
