//bootstrap default
.modal-dialog{
width: 400px;
  .form-control{
    border-radius: 0;
    border-top-color: $color-purplePrimary;
    border-left-color:$color-purplePrimary;
    border-right-color:$color-purplePrimary;
    border-bottom-color: $color-purplePrimary;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}
.c-logo{
  margin-bottom: 25px;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: white;
  text-align: center;
  background-color: $color-blackPurple;
  border: 1px solid $color-blackPurple;
  border-radius: 4px;
}
.modal-open{
overflow: hidden;
}
//Close btn
.login_close, .signup_close {
  position: absolute;
  top:-5px;
  right: -20px;
  color: rgba(0, 0, 0, 0.5);
  padding: 2px 10px 10px;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
.login_close:hover, .signup_close:hover{
  //color: $color-red
}
.l-main{
  height: 100%;
  width: 100%;
  .l-login-wrapper{
    text-align: center;
    margin-top: 1%;
    .c-logo,.c-logo img{
    }
    .c-login_form{
      display: block;
      margin: 0 auto;
      float: none;
      padding: 10px 20px;
      background-color:$color-white ;
    }
    .c-login_btn{
      margin-top: 20px;
      padding-right: 30px;
      padding-left: 30px;
      //margin-bottom: 10px;
    }
    .c-login_form--create{
      padding-top: 10px;
      padding-bottom: 0;

    }
    .c-login_form--create a{
      color: #26265F;
      padding: 7px;
    }
    .c-login_form--create a:hover{
     //background-color: $color-darkoffWhite;
    }
  }
}
.form-control{
  //background-color: $color-offWhite;
  border-radius: 1px;
  //border-top: $color-offWhite;
  //border-left:$color-offWhite;
  //border-right:$color-offWhite;
  //border-bottom-color: $color-offWhite;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.l-textfeild{
  padding: 20px 3px;
}
.c-login_forgot-pass{
  margin-top: 20px;
}
.c-login_forgot-pass p{
    font-size: 12px;
}
.c-login_forgot-pass a{
  padding: 7px;
}
.c-login_forgot-pass a:hover{
  //background-color: $color-darkoffWhite;
}
input {
  text-align: center;
}
.btn-custom{
  border-radius: 0;
}