.navbar-brand a{
  color: $color-white!important;
}
.navbar-nav button{
  background-color: transparent;
  border: none;
  font-size: 12px;
  color:$color-black !important;
  outline: none;
}
.navbar-nav button:hover{
  color:$color-blackHover !important;
}
.navbar-nav li a {
  //padding: 38px 13px 38px 13px!important;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-weight: 400;
  color:$color-black !important;
  font-size: 12px !important;
  outline: none!important;
  //transition: all 0.2s ease-in ;
}
.navbar-nav li:hover a,.navbar-nav li:focus a{
  color:$color-blackHover !important;
  outline: none !important;
  //background-color: $color-primaryHover;
}

.navbar-custom{
  min-height: 60px;
  background: $color-primary!important;
  //background: -moz-linear-gradient(45deg, #221d67 0%, #5e1f70 32%, #b63f81 100%);
  //background: -webkit-linear-gradient(45deg, #221d67 0%,#5e1f70 32%,#b63f81 100%);
  //background: linear-gradient(45deg, #221d67 0%,#5e1f70 32%,#b63f81 100%);

    background: -webkit-linear-gradient($color-darkPurple 50%, $color-darkPurple); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($color-darkPurple 50%, $color-darkPurple); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($color-darkPurple 50%, $color-darkPurple); /* For Firefox 3.6 to 15 */
    background: linear-gradient($color-darkPurple 50%, $color-darkPurple); /* Standard syntax */



padding: 20px;
  color:$color-white!important;
}
